.canvas{
    height: calc(100% - $NAVBAR-HEIGHT);
    background-color: $ELEMENT-COLOR;
    cursor: none;
}
.color-helper{
    position: absolute;
    right: 30px;
    bottom: 20px;
    opacity: 0.5;
    filter: blur(1px);
    transition: 0.2s all;
    &:hover{
        opacity: 1;
        filter: blur(0px);
    }
}